extends layout
block content
	div.container
		h1.page-header Hoe werkt Potje
		div.row
			div.col-md-3
				img(src="/images/geldzak.jpg" class="img-responsive")
			div.col-md-9
				h3 Hoevaak is het u overkomen dat u te veel geld uitgeeft als u met vrienden of vriendinnen op stap gaat of een dagje weg bent?
				h3 Met Potje komt daar een einde aan door automatisch uitgaven in de gaten te houden en te zorgen dat iedereen hun bijdrage levert.
				h3 U kan makkelijk mensen toevoegen aan een 'Potje'   
		ol
			li Maak een account aan bij Potje. Hierbij link je ook je ING rekening. 
			li Maak een nieuwe gezamenlijke rekening (potje) en nodig je vrienden uit via hun IBAN bankrekeningnummer
			li nodig vrienden uit voor je potje en het bedrag dat iedereen moet inleggen
			li betaal vanaf het potje via de app
			li vul het potje bij indien hij leeg raakt
			li En je hebt nooit meer gedoe wie wat betaald, rekeningafschriften en dergelijke!
		p Gebruik de website verder om:
		ul
			li je rekeningen te beheren
			li transacties op rekeningen te zien
			li nieuwe rekeningen te openen
