extends layout
block content
	div.container
		h1 Hoe werkt het
		ol
			li Maak een account aan bij Potje. Hierbij link je ook je ING rekening. 
			li Maak een nieuwe gezamenlijke rekening (potje) en nodig je vrienden uit via hun IBAN bankrekeningnummer
			li nodig vrienden uit voor je potje en het bedrag dat iedereen moet inleggen
			li betaal vanaf het potje via de app
			li vul het potje bij indien hij leeg raakt
			li En je hebt nooit meer gedoe wie wat betaald, rekeningafschriften en dergelijke!
		p Gebruik de website verder om:
		ul
			li je rekeningen te beheren
			li transacties op rekeningen te zien
			li nieuwe rekeningen te openen
