extends layout
block content
	div.container
		h1.page-header Hoe werkt Potje
		div.row
			div.col-md-3
				// http://www.krapuul.nl/wp-content/uploads/geldzak.jpg
				img(src="/images/geldzak.jpg" class="img-responsive")
			div.col-md-9
				h3 Hoe vaak is het u overkomen dat u te veel geld uitgeeft als u met vrienden of vriendinnen op stap gaat of een dagje weg bent?
				h3 Met Potje komt daar een einde aan door automatisch uitgaven in de gaten te houden en te zorgen dat iedereen hun bijdrage levert.
				h3 U kan makkelijk mensen toevoegen aan een 'Potje'.
				h3 De stappen om Potje te gebruiken worden hieronder kort beschreven:   
		div.row
			div.col-md-4
				div(class="panel panel-default text-center")
					div(class="panel-heading centered")
						p.int 1
					div.panel-body 
						p.stap Als u geen account heeft bij Potje, maak een account aan. Hierbij link je ook je ING IBAN bankrekening. 
			div.col-md-4
				div(class="panel panel-default text-center")
					div(class="panel-heading centered")
						p.int 2
					div.panel-body 
						p.stap Begin een nieuwe gezamenlijke rekening (potje) en nodig uw vrienden uit via hun rekeningnummer.
			div.col-md-4
				div(class="panel panel-default text-center")
					div(class="panel-heading centered")
						p.int 3
					div.panel-body 
						p.stap Nodig vrienden uit voor uw potje waarbij u het bedrag kan vastleggen dat iedereen moet inleggen.
			div.col-md-4
				div(class="panel panel-default text-center")
					div(class="panel-heading centered")
						p.int 4
					div.panel-body 
						p.stap Betaal contactloos de openstaande rekening vanaf het potje via de app.
			div.col-md-4
				div(class="panel panel-default text-center")
					div(class="panel-heading centered")
						p.int 5
					div.panel-body 
						p.stap Het potje kan automatisch worden bijgevuld als het leeg raakt.
			div.col-md-4
				div(class="panel panel-default text-center")
					div(class="panel-heading centered")
						p.int 6
					div.panel-body 
						p.stap Succes! Er is nooit meer onenigheid of discussie over wie wat heeft betaalt of ingelegd.

			h2.page-header Dus, waarom Potje?


			div.col-md-9
				p.stap De bovengenoemde stappenplan geeft een goed weergave van hoe simpel en nuttig Potje is. 
				p.stap Als dit (nog) niet duidelijk is, samengevat biedt Potje:
				ul
					li 
						p.stap De mogelijkheid om je rekeningen te beheren.
					li 
						p.stap Transacties op uw rekeningen te zien.
					li 
						p.stap Automatisch verdeling van kosten tussen betrokken personnen in het betalen van een rekening.
					li 
						p.stap De mogelijkheid om een nieuwe, tijdelijke rekeningen te openen en te 'delen' met anderen.
					li 
						p.stap Een veilig, stabiel en betrouwbaar manier voor een groep mensen de kosten eerlijk te verdelen. 
			div.col-md-3
				// http://iranstone-best.com/wp-content/uploads/2014/05/question-mark.png
				img(src="/images/question-mark.png" class="img-responsive" width="75%")