extends layout
block content
	div(class="container",ng-controller="PotjeController")
		h1.page-header Potje Aanmaken
			small  - In 3 simpele stappen
		
		div.col-md-6
			form(class="form",action="/create/potje",method="post")
				
				h3.page-header 1. Basisgegevens
				div.form-group
					label(for="accountName") Naam van Potje: * 
					input(type="text",name="accountName",class="form-control",required="required", placeholder="Kies een naam naar keuze") 
					
				h3.page-header 2. Kies rekeninghouders
				p Nodig uw familie en vrienden uit door hun IBAN rekeningnummers in te vullen. 
				p Deze mensen worden door middel van een notificatie-email op de hoogte gesteld van uw Potje en kunnen dan de uitnodiging accepteren. 
				strong Je kan minimaal 2 en maximaal 10 rekeninghouders op een potje hebben.
				hr
				p Toekomstige rekeninghouders:
				ul
					li(ng-repeat="person in People")
						{{person.text}}
						input(type="hidden", name="accountHolders[{{person.id}}]", value="{{person.text}}")

				h3.page-header 3. Kies inlegbedrag
				
				p Eerste inlegbedrag bepalen (in euro’s): *
				
				div.form-group
					input(type="number", name="initialAmount", min="0", max="1000",class="form-control",required="required")

				

		div.col-md-6
			
			
			form(ng-submit="addPerson()")
				div.row
					h3.page-header Huidige leden in potje
					p Lijst van toegevoegde mensen en inputfield om nieuwe persoon toe te voegen
					div.col-md-10
						input(type="text",id="addPersonField",ng-model="nameText",size="30",placeholder="Voeg meer rekeninghouders toe",class="form-control",value="")
					div.col-md-2
						input(class="form-control",id="addPersonButton",type="submit",value="add")
			br
		div.col-md-12
			p * verplicht velden
			input(type="submit", value="Aanmaken",class="btn btn-lg btn-success")
