extends layout
block content
	div.container
		div.col-md-12
			h1.page-header Overzicht van potjes
			a(href="/create/",class="btn btn-primary pull-right") 
				i.fa.fa-fw.fa-plus
				|  Nieuwe pot maken..
		div.col-md-12
			table.table
				thead
					tr
						th Naam
						th Hoeveelheid rekeninghouders
				tbody
				each potje in potjes
					tr
						td
							a(href="/dashboard/view/"+potje.id)
								= potje.name
						td= potje.amount
