.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='#') Potje Developers 
			| &middot; team #winnING
			| 24H CodeIT 2014


script(src='/scripts/bootstrap.min.js')

block footer