.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p(class="text-center") &copy;&nbsp;
			a(href='/') Potje Developers
			| &middot; team #winnING
			| 24H CodeIT 2014

script(src='/scripts/bootstrap.min.js')
script(src='/scripts/toastr.min.js')
script(src='/scripts/jquery.autocomplete.min.js')

script(src='/scripts/potje-jquery.js')
	
block footer