extends layout
block content
    div.container
        h1.page-header Introductie
        div.row
            div.col-xs-6.col-lg-4
                div.thumbnail
                    img(src="/images/potje-logo1.png" class="img-responsive" width="70%")
            div.col-xs-12.col-sm-6.col-lg-8
                p.intro Welkom bij Potje, een manier om met uw vrienden eenvoudig en zonder zorgen contactloos te betalen voor u rekeningen. 
                p.intro Met Potje kan u lekker genieten van een dagje uit zonder enkele zorgen te maken of u uw steentje bijdraagt aan het betalen van de gezamelijke rekening. Potje doet alles voor u! 
                p.intro U hoeft nauwlijks aandacht aan het eerlijk verdelen van geld te letten, en de rekening hoeft niet meer contant of met gepast geld te worden betaalt. In een paar kort en eenvoudig stappen kan u een potje aanmaken en gelijk vrienden en vriendinnen toevoegen. Deze stappen worden op de informatie pagina uitgelegd.
                p.intro Als er nog vragen over Potje zijn, horen we het graag. Hier kan u gebruik maken van het formulierop de contact pagina.
                p.intro De korte film die hieronder staat laat een soortgelijk dienst van de ING zien; het ondersteunt contactloos betalen, net zoals Potje doet.
        div.row
            <iframe width="100%" height="400" src="//www.youtube.com/embed/kRudmG_Gguc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>