doctype html
html(ng-app="potjeApp")
	head
		block head
			block title
				title Potje, [ING 24H CodeIT]
			block meta
				meta(name='description', content='Potje: online betalen voor groepen')
				meta(name='keywords', content='potje,online,betalen,groepsbetalen,wiebetaaltwat,splitwise,geld,ing,bank,bankieren,euro')
			link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
			
			| <style>
			| body { padding-top: 60px; }
			| </style>
			
			script(src='/scripts/jquery.min.js')
			script(src='/scripts/angular.min.js')

			script(src='/scripts/potje-angular.js')
	body
		include header

		block content

		include footer